

.header{
    background-color: #1f2937;
    display: flex;
    align-items: center;
    padding-right: 700px;

}

.logo{
    
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 700px;
}

.links{
    display: flex;
    gap: 40px;
    font-size: 18px;
    color: #e5e7eb;
    list-style-type: none;
    margin-left: auto;
    
    
}

.container{
    background-color: #1f2937;
    display: flex;
    align-items: center;
    padding-bottom: 25px ;
    
    
    
}



.awesome{
    
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    padding-left: 700px;
    padding-top: 50px;
    margin-right: 200px;
    max-width: 350px;
    
    
}

.subtext{
    font-size: 18px;
    color: #e5e7eb;

}


 .signup1{
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    
 }

 .container2{
    display: flex;
    justify-content: center;
    gap: 35px;
 }

 .information{

    padding-top: 15px;
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    
 }

 img{
    margin-top: 20px;
    margin-bottom: 10px;
    width:100px;
    height: 100px;
    border: solid 3px #3882F6;
    border-radius: 10px;
 }

 .ilustration-images{
    max-width: 170px;
 }

 .container3{
    margin-top: 50px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
 }

 .quote{
    padding-left: 200px;
    margin-top: 40px;
    font-size: 36px;
    font-style:light italic;
    color: #1f2937;
    max-width: 780px;
    padding-bottom: 40px;
    margin-bottom: 5px;
 }

 .quoter{
    font-size: 20px;
    font-weight: bold;
    color: #1f2937;
    padding-top: 200px;
    padding-bottom: 20px;
    gap: 20px;
    
    
 }